<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/assets/livro.svg" type="image/x-icon">
    <title>Apollo
    </title>
</head>
<body class="login">
    <header>
        <img class="logoCompleto" src="static/assets/apolinho.svg" alt="Galáxia com um livro e uma pena">
    </header>
<form action="/" method="post">
    <h2>Entre em sua conta</h2>
    <div class="inputinho">
        <label for="input" class="text">Email:</label>
        <input type="email" placeholder="Digite seu email aqui..." name="email" class="input" required>

        <label for="input" class="text">Senha:</label>
        <input type="password" placeholder="Digite sua senha aqui..." name="senha" class="input" id="senha" required >
        <div class="toggle-senha" id="toggle-senha">
            <img src="static/assets/hide.png" alt="Visualizar senha" id="icone-senha">
            <p>Visualizar senha</p>
        </div>
    </div>

   <div class="ajuda">
    <a href="/cadastro">Não possuo cadastro</a>
    <a href="#">Esqueci minha senha</a>
   </div>

   <button class="entrar" type="submit" >Entrar</button>
</form>
<div id="alerta" class="alerta">
    <span id="alerta-msg"></span>
    <!-- Se quiser um botão para fechar manualmente -->
    <button onclick="fecharAlerta()">X</button>
</div>

<div id="erro" style="display: none;">{{ erro if erro else '' }}</div>
<script src="static/script.js"></script>
</body>
</html>